apiVersion: v1
kind: Namespace
metadata:
  name: openshift-cluster-csi-drivers
  annotations:
    include.release.openshift.io/ibm-cloud-managed: "true"
    include.release.openshift.io/self-managed-high-availability: "true"
    openshift.io/node-selector: ""
